/* 主页index.html的样式表 */


/* 设置整个导航条 */
.topbar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

/* 设置导航区内容为浮动 */
.service,.topbar li{
    float: left;
}
.user,.shopping-cart{
    float: right;
}

/* 设置字体的样式 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    /* 设置为块元素，使得任意位置都可以点击 */
    display: block;
}

/* 设置移入超链接后字体的颜色 */
.topbar a:hover{
    color: #fff;
}

/* 设置中间间隔号 */
.topbar .line{
    width: 1px;
    height: 13px;
    color: #424242;
    margin: 0 8px;
}

/* 设置用户选择列表 */
.user{
    margin-right: 30px;
}

.shopping-cart{
    position: relative;
}

/* 设置购物车 */
.shopping-cart li{
    width: 120px;
    height: 40px;
    background-color: #424242;
    text-align: center;
}

/* 设置购物车图标 */
.shopping-cart i{
    font-size: 14px; 
    padding-right: 3px;
}

/* 设置购物车弹出框 */
.shopping-cart .shopping-list{
    width: 300px;
    /* height: 100px; */
    box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
    /* float: right; */
    position: absolute;
    right: 0;
    z-index: 9999;
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: height .5s;
}

/* 弹出框中的文字 */
.shopping-list p{
    padding: 20px 0;
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #424242;
}

/* 设置鼠标移入购物车后的样式 */
#shopping:hover a{
    color: rgb(249, 127, 5);
    background-color: #fff;
}

/* 添加移入购物车效果 */
.shopping-cart:hover .shopping-list{
    height: 100px;
    background-color: #fff;
}

/* 设置二维码和里面的文字 */
.app .QRcode{
    /* 可以通过改变高度来达到display：none的效果，方便添加动画效果 */
    /* display: none; */
    height: 0px;
    overflow: hidden;
    width: 124px;
    /* height: 148px; */
    /* 设置新的行高，默认会继承父元素的高度 */
    line-height: 1px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0 , 0, .3);
    text-align: center;
    font-size: 15px;
    color: #333;
    /* 使弹出框脱离文档流，并居中对齐 */
    position: absolute;
    left: -35px;
    /* 使用transition属性设置过渡效果 */
    transition: height .5s;
    z-index: 9999;
}

/* 设置图片 */
.app .QRcode img{
    width: 90px;
    margin: 17px;
}

/* 设置小三角 */
.app::before{
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    content: "";
    position: absolute;
    display: none;
    /* 设置三角形的位置居中 */
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/* 给app开启相对定位，使得三角形的包含块是类app */
.app{
    position: relative;
}

/* 为下拉框添加移入后的效果 */
.app:hover .QRcode,
.app:hover::before{
    display: block;
    height: 148px;
}

/* 开启相对定位，使得导航下拉框根据它定位 */
.header-wrapper{
    /* background-color: #ff6700; */
    position: relative;
}
/* 设置头部内容框框 */
.header{
    height: 100px;
    /* background-color: red; */
}

/*设置h1的样式 */
.header .logo{
    width: 56px;
    height: 56px;
    float: left;
    margin: 0 auto;
    /* 隐藏输入的文字 */
    text-indent: -9999px;
}
/* 设置logo */
.header .logo a{
    width: 56px;
    height: 56px;
    background-image: url("../img/02_log.png");
    background-size: cover;
    display: block;
}

/* 设置导航区 */
.nav-wrapper{
    height: 100px;
    float: left;
    line-height: 100px;
    margin-left: 7px;
    padding-left: 58px;
}

/* 导航菜单的超链接容器 */
.nav-wrapper .nav-list li{
    float: left;
}
/* 导航菜单的超链接 */
.nav-wrapper .nav-list a{
    font-size: 16px;
    color: #424242;
    padding-left: 20px;
    display: block;
}

/* 隐藏全部商品选项，但是还是占据空间 */
.nav-list .all-goods{
    visibility: hidden;
}

/* 设置鼠标移入的效果 */
.nav-list a:hover{
    color: #ff6700;
}

/* 弹框设置 */
.nav-list .goods-info{
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
    left: 0;
    top: 100px;
    transition: height .3s;
    z-index: 9999;
    background-color: #fff;
}

/* 设置移入显示 */
.nav-list .show-goods:hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    border-top: rgb(227, 222, 222) solid 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/* 设置搜索框容器 */
.search-wrapper{
    width: 296px;
    height: 50px;
    background-color: red;
    float: right;
    margin: 25px 0;
}

/* 设置表单内输入框 */
.search .search-text{
    float: left;
    width: 234px;
    height: 48px;
    padding: 0;
    border: 0;
    border: #d9d6d6 solid 1px;
    outline: none;
    padding-left: 10px;
}


/* 设置表单内按钮 */
.search .search-btn{
    float: left;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
    border: #d9d6d6 solid 1px; 
    border-left: none;
    background-color: #fff;
}
/* 设置图标字体 */
.search .search-btn i{
    color: #616161;
    font-size: 18px;
}
/* 设置聚焦后的边框颜色 */
.search .search-text:focus,
.search .search-text:focus + button{
    border-color: #ff6700;
}
/* 设置移入按钮后的背景颜色 */
.search .search-btn:hover{
    background-color: #ff6700;
    border: none;
}
/* 设置字体图标的样式 */
.search .search-btn:hover i{
    color: #fff;
}
/* 开启li的相对定位 */
.all-goods{
    position: relative;
}
/* 设置左侧导航条的容器 */
.left-nav-wrapper{
    visibility: visible;
    width: 234px;
    height: 420px;
    background-color: rgba(0, 0, 0, .6);
    padding: 20px 0;
    position: absolute;
    left: -121px;
    top: 100px;
    z-index: 999;
    /* 修改继承而来的行高 */
    line-height: 1px;
}
/* 设置链接的样式 */
.left-nav-wrapper .left-nav a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 14px;
    padding: 0 30px;
}
/* 设置移入链接后的样式 */
.left-nav-wrapper .left-nav a:hover{
    background-color: #ff6700;
}
/* 设置字体图标样式 */
.left-nav-wrapper .left-nav a i{
    float: right;
    line-height: 42px;
}

/* 设置外层容器为相对定位,使每个li元素相对它定位 */
.banner{
    height: 460px;
    position: relative;
    overflow: hidden;
}

/* 开启li元素的绝对定位,使它脱离文档流,重叠 */
.banner .img-list{
    position: absolute;
    /* width: 4000px; */
}

/* 设置图片的样式 */
.banner img{
    float: left;
    width: 1226px;
    vertical-align: top;
}
/* 设置按钮容器的样式 */
.banner .pointer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 25px;
}
/* 设置按钮的样式 */
.banner .pointer a{
    float: left;
    width: 6px;
    height: 6px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    background-color: rgba(45, 44, 44, 0.4);
    margin-left: 10px;
}
/* 为按钮添加移入后的效果 */
.pointer a:hover{
    border: 3px solid rgba(45, 44, 44, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
}
/* 设置两个图标的样式 */
.arrow-wrapper a{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url("../img/icon-slides.png");
}
/* 设置左边图标的样式 */
.arrow-wrapper .pre{
    left: 234px;
    background-position: -83px 0;
}

.arrow-wrapper .pre:hover{
    background-position: 0 0;
}
/* 设置右边图标的样式 */
.arrow-wrapper .after{
    right: 0;
    background-position: -125px 0;
}

.arrow-wrapper .after:hover{
    background-position: -41px 0;
}

/*  设置工具栏的样式 */
.tool-wrapper{
    width: 27px;
    height: 205px;
    background-color: #fff;
    position: fixed;
    bottom: 120px;
    /* 设置工具栏的位置!!!! */
    right: 50%;
    margin-right: -640px;
}
/* 设置每一个工具的容器的样式 */
.tool-wrapper .tool{
    width: 27px;
    height: 40px;
    line-height: 41px;
    /* margin: 0 6.5px; */
    border: rgba(226, 222, 222, 0.5) solid 1px;
    /* border-bottom: none; */
}
/* 设置图标字体的样式 */
.tool-wrapper .tool a i{
    margin-left: 6px;
    font-size: 18px;
}
/* 设置移入后的效果 */
.tool-wrapper .tool:hover i{
    color: #ff6700;
}

/* 设置底部广告容器 */
.ad-wrapper{
    height: 170px;
    margin-top: 14px;
    /* background-color: red; */
}

/* 将容器和每一个元素设为浮动 */
.ad-wrapper .shortcut,
.ad-wrapper .imgs,
.ad-wrapper li{
    float: left;
}

/* 设置左侧快捷方式的样式 */
.ad-wrapper .shortcut{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    margin-right: 14px;
}

/* 设置左侧内部元素的样式 */
.ad-wrapper .shortcut li{
    width: 76px;
    height: 84px;
}

/* 设置超链接的样式 */
.ad-wrapper .shortcut a{
    display: block;
    color: #cfccca;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
}

/* 设置移入超链接后的样式 */
.ad-wrapper .shortcut a:hover{
    color: #fff;
}

/* 设置图标字体的样式 */
.ad-wrapper .shortcut i{
    display: block;
    font-size: 25px;
}

/* 设置快捷方式的竖边框 */
.ad-wrapper .shortcut li::before{
    width: 1px;
    height: 40px;
    content: "";
    background-color: #625e5a;
    display: block;
    position: absolute;
    margin-top: 18px;
    margin-left: 3px;
}

/* 设置快捷方式的横边框 */
.ad-wrapper .shortcut li::after{
    width: 40px;
    height: 0.5px;
    content: "";
    display: block;
    background-color: #625e5a;
    position: absolute;
    margin-left: 18px;
    margin-top: 10px;
}
/* 设置右侧图片块的样式 */
.ad-wrapper .imgs li{
    width: 316px;
    margin-right: 15px;
}

/* 消除最后一个li元素的外右边距 */
.ad-wrapper .imgs li:last-child{
    margin-right: 0;
}
/* 设置图片的样式 */
.ad-wrapper .imgs img{
    width: 100%;
    vertical-align: center;
}